
$mainFontSize: 38px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$twitterColor: #55acee;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal i.fa {
	color : $accentColor;
}

.reveal i.fa.fa-twitter {
	color : $twitterColor;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal section img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal strong {
	color : $accentColor;
	font-weight : normal;
}

html.frontpage h3 {
	color : $accentColor;
}

html { 
	background-color: inherit; 
}